* {
	margin: 0;
	padding: 0;
}

body {
	background: url("../images/backgrounds/painting.jpg");
	background-height: 100%;
	background-width: 100%;
}

#wrapper {
	position: absolute;
	background: #3300CC;
	max-width: 1000px;
	min-width: 600px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#icons {
}

#headerImage {
	position: absolute;
	z-index: 0;
	width: 1000px;
	height: 50px;
}

#homeIcon {
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 1;
}

#aboutIcon {
	position: absolute;
	top: 5px;
	left: 170px;
	z-index: 1;
}

#picturesIcon {
	position: absolute;
	top: 5px;
	left: 330px;
	z-index: 1;
}

#videosIcon {
	position: absolute;
	top: 5px;
	left: 490px;
	z-index: 1;
}

#blogIcon {
	position: absolute;
	top: 5px;
	left: 650px;
	z-index: 1;
}

#banner {
	position: absolute;
	top: 50px;
	z-index: 1;
}

#homeBanner, #aboutBanner, #picturesBanner, #videosBanner, #blogBanner {
	position: absolute;
	top: 55px;
	left: 5px;
	z-index: 1;
	height: 190px;
	width: 990px;
}

form#data {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 250px;
	background-color: rgba(255,255,255,0.5);
}

form#side {
	width: 290px;
	height: 990px;
	position: absolute;
	top: 255px;
	left: 705px;
	background-color: rgba(0,102,102,0.5);
}

#bannerHome, #bannerPictures, #bannerVideos, #bannerBlog, #bannerAbout {
	width: 695px;
	height: 100px;
	position: absolute;
	top: 255px;
	left: 5px;
	background-color: rgba(51,0,102,0.2);
}

#footer {
	position: absolute;
	z-index: 0;
	width: 1000px;
	height: 100px;
	top: 1250px;
}

#footerImage {
	position: absolute;
	z-index: 0;
	width: 990px;
	height: 90px;
	top: 1255px;
	left: 5px;
}

