* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
}

#wrapper {
	position: absolute;
	background: #3300CC;
	max-width: 1000px;
	min-width: 600px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#icons {
}

#headerImage {
	position: absolute;
	z-index: 0;
	width: 1000px;
	height: 50px;
}

#homeIcon {
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 1;
}

#aboutIcon {
	position: absolute;
	top: 5px;
	left: 170px;
	z-index: 1;
}

#picturesIcon {
	position: absolute;
	top: 5px;
	left: 330px;
	z-index: 1;
}

#videosIcon {
	position: absolute;
	top: 5px;
	left: 490px;
	z-index: 1;
}

#blogIcon {
	position: absolute;
	top: 5px;
	left: 650px;
	z-index: 1;
}

#banner {
	position: absolute;
	top: 50px;
	z-index: 1;
}

form#data {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 250px;
	background-color: #FFFFFF;
}

form#side {
	width: 290px;
	height: 990px;
	position: absolute;
	top: 255px;
	left: 705px;
	background-color: #330033;
}

#footerImage {
	position: absolute;
	z-index: 0;
	width: 1000px;
	height: 100px;
	top: 1250px;
}

